/* ========== Main Layout =========== */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #31486d; /* === Changed background to dark blue === */
  color: white;
  height: 70px;
}

h1 {
  font-size: 1.35em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

h2 {
  font-size: 1.2em;
  margin: 25px 0 8px;
}

p {
  font-size: .9em;
}
section {
  width: 90%;
  margin: 0 auto;
  border-bottom: solid black 4px;
  padding-bottom: 37px;
}

fieldset {
  border: none;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

legend {
  font-size: 1.3em;
  font-weight: bold;
  padding: 25px 0 5px 0;
}

label {
  display: inline-block;
  padding: 12px 0 9px 0;
  font-size: 1.05em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  border-radius: 4px;
  box-shadow: none;
  background-color: #f2f2f2;
  border-style: none;
  color: #8a97a0;
  padding: 17px 10px;
  }

textarea {
  width: 100%;
  resize: none;
  height: 100px;
  overflow: auto;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border: solid #31486d 2px;
  transform: scale(1.1);
  transition: background-color 0.5s ease; /* ===== Added transition and transform to focus state ===== */
  background-color: #31486d;
  color: white;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 10px 0 0;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-weight: bold;
  color: tomato;
}

input[placeholder="Required"] {
  text-align: right;
  font-size: .9em;
  font-style: italic;
}

button {
  background-color: #31486d;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  border: none;
}

footer {
  font-style: italic;
  font-size: 14px;
  color: #8a97a0;
  height: 180px;
}

/* =========== layout styling classes ========== */
.top {
  padding-bottom: 25px;
}

.bline {
  border-top: solid black 2px;
  width: 90%;
  margin: 3px auto;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7 {
  display: flex;
  flex-direction: column;
}

.b14 {
 width: 50%;
}

.newsletter {
  padding: 30px 0 10px;
}

.format {
  padding: 20px 0 10px;
}

.botlabel {
  padding-bottom: 20px;
    font-size: 1em;
}

.bottom {
  height: 60px;
  width: 90%;
  margin: 30px auto;
}

.center {
  text-align: center;
}

.plabel {
  padding: 8px 0;
}

/* ========== Media Queries ========== */
@media (min-width: 768px) {

  body {
    font-size: .9em;
  }
  header {
    height: 40px;
  }

  h1 {
    font-size: 1.15em;
    padding-top: 10px;
  }

  h2 {
    font-size: 1.15em;
  }

  p {
    font-size: .8em;
  }

  fieldset {
    width: 55%;
  }

  legend {
    font-size: 1em;
  }
  label {
    font-size: .9em;
  }

  section {
    width: 55%;
    margin: 0 auto;
    border-bottom: solid black 4px;
    padding-bottom: 27px;
  }

  input[name="user_zip_code"] {
    width: 35%;
  }

  .leg {
    margin-bottom: 20px;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6,
  .box-7 {
    display: flex;
    flex-direction: row;
  }

  .b1,
  .b3 {
    flex-basis: 70px;
    flex-grow: 1;
  }

  .b2,
  .b4 {
    flex-grow: 2.5;
  }

  .b5,
  .b7,
  .b9 {
    flex-basis: 82px;
    flex-grow: 1;
  }

  .b6,
  .b8,
  .b10 {
    flex-grow: 2.5;
  }

  .b11 {
    flex-basis: 64px;
    flex-grow: 1;
  }

  .b12 {
    flex-grow: 2.5;
  }

  .b1,
  .b3,
  .b5,
  .b7,
  .b9,
  .b11 {
    margin: 21px 0 17px;
    padding-top: 0;
  }

  .b2,
  .b4,
  .b6,
  .b8,
  .b10,
  .b12,
  .b14 {
    height: 50px;
  }

  .b13 {
    flex: 1.45;
  }

  .b14 {
    flex: 1.25;
  }

  .b15 {
    flex: 2;
  }

  .bline {
    border-top: solid black 2px;
    width: 55%;
    margin: 3px auto;
  }

  .bottom {
    width: 55%;
  }
}
